# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# 生成代码（本地运行 dart run build_runner build 生成）
**/*.g.dart
**/*.freezed.dart

# 系统
.DS_Store